<!DOCTYPE html>
<html lang="fr">f
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form Design</title>
    <link rel="stylesheet" type="sign.html" href="style.css">
</head>

    <body>
        <div class="loginbox">
            <img src="../img/fontvert.png" class="fontvert" alt="photo">
      <h1>Login Here</h1>
    <form>
        <p>username</p>
        <input type="text" name="" placeholder="Enter username">
        <p>Passeword</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login" >
        <a href="#"> lost your password?</a><br>
        <a href="#">don't have an account?</a>

    </form>
        
        </div>
        
    </body>
</html>
